# Any change to this file MUST be replicated in:
# https://github.com/open-contracting/deploy/blob/master/salt/ocdskingfishercollect/scrapyd-requirements.txt

rarfile
requests
Scrapy
scrapyd-client
ijson>=3
sentry-sdk