flattentool
ijson>=3.1.1
jsonpointer
-e git+https://github.com/python-jsonschema/jsonschema.git@referencing#egg=jsonschema
ocdskit
ocdsmerge
pika
psycopg2
rarfile
referencing
requests
rfc3986-validator
scrapy
scrapyd
scrapyd-client
sentry-sdk
treq
twisted
